.main{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    border: 1px solid black;
    height: 300px;
    width: 500px;
    background-color: rgb(149, 255, 141);
}

input{
    height: 30px;
}

button{
    margin: 10px auto;
    height: 50px;
    width: 100px;
}